<aside data-spy="affix" data-offset-top="60" data-offset-bottom="50"  width="260" class="col-lg-3 col-sm-4">
    <div class="panel panel-default">

        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <!--about the course left menu-->
                <li>
                    <a href="#/view-reservation">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="tab-text">Reservations</span>
                    </a>
                </li>
                <li>
                    <a href="#/view-seating">
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="tab-text">Seating</span>
                    </a>
                </li>
                <li>
                    <a href="#/view-profile" >
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="tab-text">Profile</span>
                    </a>
                </li>

                <li class="active">
                    <a href="#/new-reservation" >
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="tab-text">New Reservation</span>
                    </a>
                </li>
            </ul>

        </div> <!--end panel-body-->

    </div><!--navbar-header-->

</aside>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="well well-sm">
            <div class="col-md-8">
                <form name="reservationForm" novalidate>
                    <fieldset>
                        <legend class="text-center header">New Reservation</legend>
                        <div class="form-group">
                            <input type="text" name="name"
                                   class="form-control" placeholder="Name"
                                   ng-model="makeReserVm.newReserv.name" required>
                            <div ng-messages="reservationForm.name.$error" class="has-error"
                                 ng-if="reservationForm.name.$dirty">
                                <p class="help-block" ng-message="required">Name is required
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email"
                                   class="form-control" placeholder="example@domain.com"
                                   ng-model="makeReserVm.newReserv.email" required>
                            <div ng-messages="reservationForm.email.$error" class="has-error"
                                 ng-if="reservationForm.email.$dirty">
                                <p class="help-block" ng-message="required">Email is required</p>
                                <p class="help-block" ng-message="email">Email is invalid</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone"
                                   class="form-control" placeholder="Phone Number Eg: 999-999-9999"
                                   ng-model="makeReserVm.newReserv.phone" required
                                   ng-pattern="/^[0-9]{10}$/">
                            <div ng-messages="reservationForm.phone.$error" class="has-error"
                                 ng-if="reservationForm.phone.$dirty">
                                <p class="help-block" ng-message="required">Phone is required
                                </p>
                                <p class="help-block" ng-message="pattern">Phone should be 10
                                    digit number</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="address"
                                   class="form-control" placeholder="Address"
                                   ng-model="makeReserVm.newReserv.address" required>
                            <div ng-messages="reservationForm.address.$error"
                                 class="has-error" ng-if="reservationForm.address.$dirty">
                                <p class="help-block" ng-message="required">Address is
                                    required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="date" name="date"
                                   class="form-control" ng-model="makeReserVm.date" required>
                            <div ng-messages="reservationForm.date.$error" class="has-error"
                                 ng-if="reservationForm.date.$dirty">
                                <p class="help-block" ng-message="required">Date is required
                                </p>
                            </div>
                        </div>


                        <div class="form-group">
                            <input type="time" name="time"
                                   class="form-control" placeholder="HH:MM"
                                   ng-model="makeReserVm.time" required>
                            <div ng-messages="reservationForm.time.$error" class="has-error"
                                 ng-if="reservationForm.time.$dirty">
                                <p class="help-block" ng-message="required">Time is required
                                </p>
                            </div>
                        </div>


                        <div class="form-group">
                            <select name="guests"
                                    class="form-control" placeholder="Party Size"
                                    ng-model="makeReserVm.newReserv.partySize"
                                    required>
                                <option value=""></option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <div ng-messages="reservationForm.guests.$error" class="has-error"
                                 ng-if="reservationForm.guests.$dirty">
                                <p class="help-block" ng-message="required">Party size is
                                    required</p>

                            </div>
                        </div>

                        <div class="form-group">
                            <select name="guests"
                                    class="form-control" placeholder="Table Number" ng-model="makeReserVm.newReserv.partySize"
                                    required>
                                <option value=""></option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <div ng-messages="reservationForm.guests.$error" class="has-error"
                                 ng-if="reservationForm.guests.$dirty">
                                <p class="help-block" ng-message="required">Party size is
                                    required</p>

                            </div>
                        </div>


                        <button type="reset" ng-click="reset()"
                                ng-disabled="reservationForm.$invalid" name="reservationForm"
                                class="btn btn-primary">Reset</button>

                        <button type="button" ng-click="reservationForm.$setPristine()"
                                ng-disabled="reservationForm.$invalid" name="reservationForm"
                                data-toggle="modal" data-target="#check-avail"
                                class="btn btn-primary">Submit</button>

                        </fieldset>
                    <form>
                </div> <!--well-->
            </div><!--colmd8-->

            </div><!--colmd6-->
        </div><!--row-->
    </div><!--container-->
