<aside data-spy="affix" data-offset-top="60" data-offset-bottom="50"
	width="260" class="col-lg-3 col-sm-4">
	<div class="panel panel-default">

		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<!--about the course left menu-->
				<li><a href="#/view-reservation"> <span
						class="glyphicon glyphicon-calendar"></span> <span
						class="tab-text">Reservations</span>
				</a></li>
				<li><a href="#/view-seating"> <span
						class="glyphicon glyphicon-th"></span> <span class="tab-text">Seating</span>
				</a></li>
				<li class="active"><a href="#/view-profile"> <span
						class="glyphicon glyphicon-list"></span> <span class="tab-text">Profile</span>
				</a></li>

				<li><a href="#/new-reservation"> <span
						class="glyphicon glyphicon-user"></span> <span class="tab-text">New
							Reservation</span>
				</a></li>
			</ul>

		</div>
		<!--end panel-body-->

	</div>
	<!--navbar-header-->

</aside>
<section>
	<div class="container">

		<div class="col-md-6 col-md-offset-1">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">
						<span class="glyphicon glyphicon-th"> Assign Table 
					</h3>
				</div>

				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group row">
							<label class="col-sm-3 control-label">Name:</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{ownerAssignTableVm.assignTableReservationObj.name}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Confirmation No:</label>
							<div class="col-sm-8">
								<p class="form-control-static">{{ownerAssignTableVm.assignTableReservationObj.confirmationNum}}</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Phone:</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{ownerAssignTableVm.assignTableReservationObj.phone}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Date:</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{ownerAssignTableVm.assignTableReservationObj.reservationTime}}</p>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-3 control-label">Status:</label>
							<div class="col-sm-9"
								style="padding-top: 7px; margin-left: -70px;">
								<label style="margin-right: 15px;"><input type="radio"
									value="CONFIRMED"
									ng-model="ownerAssignTableVm.assignTableReservationObj.reservationStatus"
									name="rating"> Confirmed</label> <label><input
									type="radio" value="WAITING"
									ng-model="ownerAssignTableVm.assignTableReservationObj.reservationStatus"
									name="rating"> Waiting </label>
							</div>
						</div>

						<select
							ng-model="ownerAssignTableVm.assignTableReservationObj.reservationTable"
							name="table" class="form-control">
							<option value=""></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
				</div>
				<div class="col-sm-offset-5 col-md-3">
					<a href="#" class="btn btn-default">Cancel</a> <a
						href="#/view-reservation" class="btn btn-primary"
						ng-click="updateReservation(ownerAssignTableVm.assignTableReservationObj)">Update</a>

				</div>

				</form>






			</div>
			<!--panel-body-->
		</div>
		<!--panel-info-->



	</div>
	<!--offset-5-->





	</div>
	<!--container-->



</section>
