<aside data-spy="affix" data-offset-top="60" data-offset-bottom="50"  width="260" class="col-lg-3 col-sm-4">
    <div class="panel panel-default">

        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <!--about the course left menu-->
                <li class="active" >
                    <a href="#/view-reservation">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="tab-text">Reservations</span>
                    </a>
                </li>
                <li>
                    <a href="#/view-seating">
                        <span class="glyphicon glyphicon-th"></span>
                        <span class="tab-text">Seating</span>
                    </a>
                </li>
                <li>
                    <a href="#/owner/edit-rest-profile/6789" >
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="tab-text">Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#/new-reservation" >
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="tab-text">New Reservation</span>
                    </a>
                </li>
            </ul>

        </div> <!--end panel-body-->

    </div><!--navbar-header-->

</aside>




<div class="container">

<div class=" col-md-6">
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1"></label>
            <input type="search" class="form-control" ng-model="usersVm.searchText.name" placeholder="Search name.." >
            <span>
        <i class="glyphicon glyphicon-search"></i>
    </span>
        </div>
        <hr>

        <table class="table table-striped table-bordered">
            <thead>
            <tr class="info" ng-init="usersVm.sorter='id'; usersVm.reverse =false;">
                <th ng-click="usersVm.sorter = 'confirm-code'; usersVm.reverse = ! usersVm.reverse;"> Confirmation Number</th>
                <th ng-click="usersVm.sorter = 'name'; usersVm.reverse = ! usersVm.reverse;"> Name</th>
                <th ng-click="usersVm.sorter = 'email'; usersVm.reverse = ! usersVm.reverse;"> Email</th>
         
                <th ng-click="usersVm.sorter = 'date'; usersVm.reverse = ! usersVm.reverse;"> Date and Time</th>
                <th ng-click="usersVm.sorter = 'guests'; usersVm.reverse = ! usersVm.reverse;">Status </th>
                <th ng-click="usersVm.sorter = 'guests'; usersVm.reverse = ! usersVm.reverse;">Table No. </th>
      
                <th ng-click="usersVm.sorter = 'guests'; usersVm.reverse = ! usersVm.reverse;"> Table</th>
             
                <th> Delete </th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="p in ownerVm.allReservations">
                <td><a ng-href="#/userReservation/{{p.confirmationNum}}"><span class="glyphicon glyphicon-user"></span></a></td>
                <td>{{p.name}}</td>
               
                <td>{{p.email}}</td>
                
                <td>{{p.reservationTime}}</td>
                <td>{{p.reservationStatus}}</td>
                <td>{{p.reservationTable}}</td>

                <td class="text-center">

                        <a href="#/owner/assign-table/{{p.confirmationNum}}" ng-click="assignTableObj(p)" class="btn btn-success">Assign</a>

                </td>
                <td class="text-center"><span class="glyphicon glyphicon-trash" ng-click="mainVm.deletePerson($index)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<style>

.changethisone span{
background-color: #FFF;
}

.changethisone input{
border-right-style:none;
}

</style>