<div class="container" id="home">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#tab-reservation" data-toggle="tab">Make A Reservation</a>
            </li>
            <li><a href="#tab-status" data-toggle="tab">Check status</a></li>
            <li><a href="#tab-owner" data-toggle="tab">Owner</a></li>
        </ul>
        <div id="content" class="tab-content">
            <div class="tab-pane active" id="tab-reservation">
                <h6>Make a Reservation</h6>
                <form role="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reserveDate">Date</label>
                                <input type="date" class="form-control" id="reserveDate" placeholder="MM/DD/YYYY">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reserveTime">Time</label>
                                <input type="time" class="form-control" id="reserveTime" placeholder="HH:MM">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reserveName">Name</label>
                        <input type="text" class="form-control" id="reserveName" placeholder="Enter Your Name">
                    </div>

                    <div class="form-group">
                        <label for="reservePhone">Phone</label>
                        <input type="tel" class="form-control" id="reservePhone" placeholder="Enter Your Phone">
                    </div>
                    <div class="form-group">
                        <label for="reserveEmail">Email</label>
                        <input type="email" class="form-control" id="reserveEmail" placeholder="example@domain.com">
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="reserveSize">Party Size</label>
                                <input type="number" class="form-control" id="reserveSize" placeholder="# Guests">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="reserveSpecial">Special Need</label>
                                <input type="email" class="form-control" id="reserveSpecial" placeholder="e.g. Birthday, Anniversary etc.">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn large-btn btn-primary">Reserve</button>
                        <button type="button" class="btn btn-link">Change Existing Reservation?</button>
                    </div>
                </form>
            </div>
            
            <div class="tab-pane" id="tab-status">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" id="userConfirmNumb" placeholder="Enter confirmation number"> <span
								class="input-group-btn">
								<button class="btn btn-default" id="checkStatus" type="button">Check!</button>
							</span>
						</div><!-- /input-group -->
					</div><!-- /.col-lg-6 -->
					
				</div><!-- /.row -->
			</div>
			
            <div class="tab-pane" id="tab-owner">
                <h6>Login</h6>
                <form role="form">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="example@domain.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn large-btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-link">Forgot Password?</button>
                    </div>
                </form>
            </div>
        </div>
</div>