<div class="tab-pane active" id="owner_login">
    <h6>Login</h6>
    <form role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="example@domain.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn large-btn btn-primary">Submit</button>
            <button type="button" class="btn btn-link">Forgot Password?</button>
        </div>
    </form>
</div>